.about {
  padding: 1rem;
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  &-details {
    &-tag {
      font-size: 20px;
      margin-right: 0.5rem;
    }

    &-name {
      font-family: "Roboto Mono", monospace;
      font-size: 25px;
      font-weight: bold;
    }

    &-role {
      font-family: "Roboto Mono", monospace;
      margin: 1rem 0;
      font-size: 20px;
    }

    &-buttons{
      display: flex;
      align-items: center;
    }
    &-contact-button {
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      height: 40px;
      margin-right: 25px;
      padding: 10px;
      width: 140px;
      background-color: var(--button-color);
      color: var(--button-text-color);
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--button-hover);
      }
    }

    &-resume-button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: none;
      background-color: var(--button-color);
      padding: 10px;
      border-radius: 10px;
      width: 120px;
      margin-right: 10px;
      cursor: pointer;
      color: var(--button-text-color);
      font-size: 16px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--button-hover);
      }
    }
  }
}
