.details {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  &-image {
    max-width: 25%;
    width: 25%;
    max-height: 25%;
    overflow: hidden;
    img {
      border-radius: 20px;
      width: 80%;
      height: auto;
    }
  }
  &-description {
    border: 1px solid var(--text-color);
    border-radius: 20px;
    padding: 1rem;
    width: 75%;
    height: 25%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    &-header {
      font-size: 24px;
      margin: 10px 0;
    }
    &-content {
      font-size: 20px;
      margin: 10px 0;
    }
  }
}
