$text_color: var(--text-color);

// Header variables
$header-bg: var(--header-bg);
$selected-header: var(--selected-header);
$header_hover: var(--header-hover);
$header_available: var(--headeravailable);

// Button variables
$button_color: var(--button-color);
$button-text-color: var(--button-text-color);
$button_hover: var(--button-hover);